<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <!-- <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div> -->
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Transfer Teacher Request</div>
        <!-- Actions -->
    </div>

    <div class="flex items-center mt-4 mb-4 px-6 md:px-8">
        <!-- Search -->
        <div class="flex-auto">
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded w-full min-w-50" subscriptSizing="dynamic">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"
                ></mat-icon>
                <input
                    [formControl]="searchInputControl"
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Search Student'"
                />
            </mat-form-field>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Products list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="requestList">
                <ng-container *ngIf="requestList.length > 0; else noCourses">
                    <div class="grid">
                        <!-- Header -->
                        <div
                            class="transfer-teacher-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                            matSort
                            matSortDisableClear>
                            <!-- <div></div> -->
                            <!-- <div
                                class="hidden md:block"
                                [mat-sort-header]="'sku'">
                                SKU
                            </div> -->
                            <div [mat-sort-header]="'studentName'">Student Name</div>
                            <div [mat-sort-header]="'firstTeacherName'">First Teacher Name</div>
                            <div [mat-sort-header]="'requestTeacherName'">Request Teacher Name</div>
                            <!-- <div
                                class="block"
                                [mat-sort-header]="'price'">
                                Price
                            </div> -->

                            <!-- <div
                                class="hidden lg:block"
                                [mat-sort-header]="'active'">
                                Active
                            </div> -->
                            <div class="block">Details</div>
                        </div>
                        <!-- Rows -->
                        <ng-container *ngIf="requestList">
                            <ng-container *ngFor="let requestItem of requestList; trackBy: trackByFn">
                                <div class="transfer-teacher-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">

                                    <!-- Image -->
                                    <!-- <div class="flex items-center">
                                        <div class="relative flex flex-0 items-center justify-center w-12 h-12 mr-6 rounded overflow-hidden border">
                                            <img
                                                class="w-8"
                                                *ngIf="requestItem.thumbnail"
                                                [alt]="'Product thumbnail image'"
                                                [src]="requestItem.thumbnail">
                                            <div
                                                class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                                                *ngIf="!requestItem.thumbnail">
                                                NO THUMB
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- SKU -->
                                    <!-- <div class="hidden md:block truncate">
                                        {{requestItem.sku}}
                                    </div> -->

                                    <!-- Name -->
                                    <div class="">
                                        {{requestItem?.order_id?.student_id?.first_name}} {{requestItem?.order_id?.student_id?.last_name}}
                                    </div>
                                    <div class="">
                                        {{requestItem?.old_teacher_id?.first_name}} {{requestItem?.old_teacher_id?.last_name}}
                                    </div>
                                    <div class="">
                                        {{requestItem?.new_teacher_id?.first_name}} {{requestItem?.new_teacher_id?.last_name}}
                                    </div>

                                    <!-- Price -->
                                    <!-- <div class="block">
                                        {{requestItem.price | currency:'INR':'symbol':'1.2-2'}}
                                    </div> -->



                                    <!-- Active -->
                                    <!-- <div class="hidden lg:block">
                                        <ng-container *ngIf="requestItem.active">
                                            <mat-icon
                                                class="text-green-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                        </ng-container>
                                        <ng-container *ngIf="!requestItem.active">
                                            <mat-icon
                                                class="text-gray-400 icon-size-5"
                                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                                        </ng-container>
                                    </div> -->

                                    <!-- Details button -->
                                    <div>
                                        <button
                                            class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                            mat-stroked-button
                                            (click)="toggleDetails(requestItem.change_teacher_request_id)">
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="selectedRequest?.change_teacher_request_id === requestItem.change_teacher_request_id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="grid">
                                    <ng-container *ngIf="selectedRequest?.change_teacher_request_id === requestItem.change_teacher_request_id">
                                        <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: requestItem}"></ng-container>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>

                    <mat-paginator
                        class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                        [ngClass]="{'pointer-events-none': isLoading}"
                        [length]="pagination.length"
                        [pageIndex]="pagination.page"
                        [pageSize]="pagination.size"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [showFirstLastButtons]="true"
                    ></mat-paginator>

                </ng-container>
            </ng-container>

            <ng-template #rowDetailsTemplate let-product>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">
                        <!-- Selected product form -->
                        <div class="flex flex-col w-full">

                            <div class="flex flex-col p-8">

                                <div class="flex flex-col sm:flex-row gap-2 items-center flex-1">
                                    <mat-card class="example-card flex-1">
                                        <mat-card-header>
                                        <mat-card-title-group>
                                            <mat-card-title>{{selectedRequest?.old_teacher_id?.first_name}} {{selectedRequest?.old_teacher_id?.last_name}}</mat-card-title>
                                            <mat-card-subtitle>{{selectedRequest?.old_teacher_id?.degree}}</mat-card-subtitle>
                                            <img mat-card-sm-image [src]="selectedRequest?.old_teacher_id?.photo_url" (error)="onTeacherImgError($event)">
                                        </mat-card-title-group>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p><span class="font-bold">Date : </span> {{getDateString({start_date: selectedRequest?.old_start_date, end_date: selectedRequest?.old_end_date})}}</p>
                                            <p><span class="font-bold">Time : </span> {{getTimeString({start_time: selectedRequest?.old_start_time, end_time: selectedRequest?.old_end_time})}}</p>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-icon svgIcon="mat_outline:arrow_forward"></mat-icon>
                                    <mat-card class="example-card flex-1">
                                        <mat-card-header>
                                        <mat-card-title-group>
                                            <mat-card-title>{{selectedRequest?.new_teacher_id?.first_name}} {{selectedRequest?.new_teacher_id?.last_name}}</mat-card-title>
                                            <mat-card-subtitle>{{selectedRequest?.new_teacher_id?.degree}}</mat-card-subtitle>
                                            <img mat-card-sm-image [src]="selectedRequest?.new_teacher_id?.photo_url" (error)="onTeacherImgError($event)">
                                        </mat-card-title-group>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p><span class="font-bold">Date : </span> {{getDateString({start_date: selectedRequest?.new_start_date, end_date: selectedRequest?.new_end_date})}}</p>
                                            <p><span class="font-bold">Time : </span> {{getTimeString({start_time: selectedRequest?.new_start_time, end_time: selectedRequest?.new_end_time})}}</p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>

                                <div class="mt-3">
                                    <mat-card>
                                        <mat-card-content><span class="font-bold">Address : </span>{{selectedRequest?.order_id?.address}}</mat-card-content>
                                      </mat-card>
                                </div>

                            </div>

                            <!--* Footer  -->
                            <div class="flex items-center justify-between w-full border-t px-8 py-4">
                                <button class="-ml-4" mat-button [color]="'warn'" (click)="rejectSelectedRequest()">
                                    Reject
                                </button>
                                <div class="flex items-center">
                                    <!-- <div class="flex items-center mr-4" *ngIf="flashMessage">
                                        <ng-container *ngIf="flashMessage === 'success'">
                                            <mat-icon class="text-green-500" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                                            <span class="ml-2">Product updated</span>
                                        </ng-container>
                                        <ng-container *ngIf="flashMessage === 'error'">
                                            <mat-icon class="text-red-500" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                            <span class="ml-2">An error occurred, try again!</span>
                                        </ng-container>
                                    </div> -->
                                    <button mat-flat-button [color]="'primary'" (click)="acceptSelectedRequest()">
                                        Accept
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #noCourses>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no request!</div>
            </ng-template>
        </div>
    </div>
</div>
<div class="loadingWrapper" *ngIf="isLoading">
    <mat-spinner color="red"></mat-spinner>
</div>
